<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlo5xbrsn/image/upload/v1575043367/sergio-alves-santos-PeDrafNlY2Y-unsplash_ajqswy.jpg);">
  <div class="container">
    <h1>This app <strong>allows you</strong> to <strong>access cocktail recipes from around the world</strong>!</h1>
    <p>Start getting inspired now!</p>
    <i class="btn-gradient"><%= link_to "Create a cocktail", new_cocktail_path %></i>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="card-trip">
        <%= cl_image_tag("k-u-lwoTuByIuC4-unsplash_bemt1h", width: 400, height: 300, crop: :thumb) %>
        <div class="card-trip-infos">
          <h2><%= cocktail.name %></h2>
          <i class="btn-gradient"><%= link_to "Find out more!", cocktail_path(cocktail) %></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
